# inspiration from https://blog.gitbutler.com/how-git-core-devs-configure-git/

[user]
  name = Jacob Burenstam Linder
  email = burenstam@gmail.com

[github]
  user = buren

[alias]
  st = status -sb
  br = branch
  cb = "!sh -c 'git branch $1 && git ch $1' -"

  ci = commit
  ch = checkout
  co = checkout
  cp = checkpoint
  cpush = "!sh -c 'git commit -au -m \"$1\" && git push -u origin' -"
  d = diff

  graph = log --graph
  last = log -n 10
  url = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  discard = checkout -- .

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[pull]
  # rebase = true

[color]
  ui = auto

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  # fsmonitor = true
  # untrackedCache = true

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true

[help]
  autocorrect = prompt

[log]
  abbrevCommit = true

[merge]
  stat = true
  # (just 'diff3' if git version < 2.3)
  # conflictstyle = zdiff3

[mergetool]
  keepBackup = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
